.fp-tablecell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}
#section1 {
    height: 100vh;
    padding: 0;
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.5);
    }
}
#section3 {
    background-color: #faf9f9;
}
#section4 {
    background-color: white;
}
#section5 {
    background-image: url("~@/assets/img/bg/bg03.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
#section6 {
    background-color: white;
}
/** 封面 */
.media-cover {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    z-index: 0;
    background-color: transparent;
    background-image: url('~@/assets/img/bg/bg02.jpg');
    background-repeat: no-repeat;
    background-size:100% 100%;
    -moz-background-size:100% 100%;
    -webkit-animation: slideScale 30s linear;
    -moz-animation: slideScale 30s linear;
    -o-animation: slideScale 30s linear;
    animation: slideScale 30s linear;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.slide-overlay-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}
.cover {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 2;
    .fp {
        text-align: center;
        color: #fff;
        h1 {
            font-family: BarbaraHand;
            font-size:60px;
        }
        p {
            font-size: 4em;
            font-weight: 300;
            letter-spacing: 10px;
            letter-spacing: .5px;
            line-height: 1.3em;
            margin: 20px 0;
            font-family: "STXingkai","STXinwei","STKaiti","STLiti","Xingkai SC","KaiTi","Microsoft Yahei","SimSun";
        }
    }
    .next {
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: absolute;
        bottom: 30px;
        left: 50%;
        padding-top: 2px;
        margin-left: -25px !important;
        z-index: 0;
        -webkit-transition: all .5s ease-out;
        transition: all .5s ease-out;
        cursor: pointer;
        animation-duration: 2s;
        -webkit-animation-duration: 2s;
        animation-delay: .4s;
        -webkit-animation-delay: .4s;
        &:hover {
            background-color: #6bc30d;
        }
        i {
            color: #fff;
            font-size: 3rem;
            display: table;
            margin: 0 auto;
        }
    }
}
/** 封面 结束 */
/** 第一屏 文章 */
.warp-box {
    width: 100%;
    height: 100%;
    position: relative;
}
.warp {
    display: table;
    margin: 0 auto;
    height: 100%;
    position: relative;
}
.page1 {
    .inner {
        display: inline-block;
        vertical-align: middle;
    }
    .new-article {
        text-align: center;
        h1 {
            font-size: 32px;
            padding-bottom: 30px;
            position: relative;
            font-weight: 500;
            &:after {
                position: absolute;
                width: 50px;
                height: 2px;
                content: "";
                left: 50%;
                margin-left: -25px;
                bottom: -1px;
                background: #00c2ff;
            }
        }
        p {
            margin-top: 20px;
            line-height: 22px;
            color: #888;
        }
    }
}
/** 第一屏 结束 */
/** 第二屏 关于 */
.page2 {
    .about {
        text-align: center;
    }
    .about-w3ls-info {
        margin: 0 auto;
        & > h3 {
            color: #333333;
            font-size: 2.5em;
            font-weight: 600;
        }
        & > p {
            max-width: 800px;
            margin: 0 auto;
            font-size: 16px;
            color: #777;
            line-height: 1.9em;
            letter-spacing: 1px;
            margin-top: 1rem !important;
            margin-bottom: 3rem !important;
        }
        & > a {
            cursor: pointer;
            color: #fff;
            background-color: #1e9fff;
            border-color: #007bff;
            display: inline-block;
            padding: 10px 30px;
            font-size: 14px;
            letter-spacing: 1px;
            border-radius: 4px;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            box-shadow: 0 12px 60px rgba(0, 0, 0, .2);
            -webkit-box-shadow: 0 12px 60px rgba(0, 0, 0, .2);
            -o-box-shadow: 0 12px 60px rgba(0, 0, 0, .2);
            -moz-box-shadow: 0 12px 60px rgba(0, 0, 0, .2);
            -ms-box-shadow: 0 12px 60px rgba(0, 0, 0, .2);
            border: 2px solid transparent;
            transition: 0.5s all;
            -webkit-transition: 0.5s all;
            -moz-transition: 0.5s all;
            -o-transition: 0.5s all;
            -ms-transition: 0.5s all;
        }
    }
}
/** 第二屏结束 */
/** 第三屏 卡片留言 */
.page3 {
    .new-comment {
        padding: 50px 0 40px 0;
        background-color: white;
    }
    h3 {
        &.tittle-wthree {
            color: #333;
            font-size: 34px;
            margin-bottom: 35px;
        }
        &.text-center {
            text-align: center !important;
        }
    }
    .el-carousel__item {
        padding: 0 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        transition: 500ms;
    }
    .testimonials-gd-vj {
        max-width: 380px;
        box-shadow: 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.5);
        background-color: #ecf5ff;
        padding: 3rem !important;
    }
    p {
        &.sub-test {
            color: #666;
            font-size: 14px;
            line-height: 1.9em;
            letter-spacing: 1px;
            margin-top: 0;
            margin-bottom: 1rem;
            word-wrap:break-word;
            i {
                font-size: 1.5em;
                margin-right: 0.3em;
                color: #0dd3ff;
            }
        }
    }
    .user {
        margin-top: 1.5rem !important;
        img {
            width: 50px;
        }
        h5 {
            color: #34bf49;
            letter-spacing: 1px;
            font-size: 1.2em;
            font-weight: 600;
            display: inline-block;
            margin-left: 10px;
        }
        a {
            &:hover {
                h5 {
                    color: #0dd3ff;
                }
            }
        }
    }
}
/** 第三屏结束 */
/** 第四屏 统计 */
.page4 {
    .bg-overlay {
        height: 100%;
        color: #ffffff;
        position: relative;
        background-position: center center;
        background-attachment: fixed;
    }
    .overlay {
        background-color: #000;
        opacity: .65;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
#statistics {
    padding: 80px 0 60px 0;
    margin: 0 auto;
    i {
        // font-size: 40px !important;
        font-size: 40px;
        color: #eee;
    }
    h4 {
        font-size: 40px;
        color: #fff;
        font-weight: 600;
        letter-spacing: 1px;
        margin-top: 1rem;
    }
    p {
        margin: 0;
        font-size: 17px;
        line-height: 1.8em;
        letter-spacing: 1px;
        color: #aaa;
    }
}
/** 第四屏结束 */
/** 第五屏 访客 */
.page5 {
    .visitor {
        padding-top: 50px;
        padding-bottom: 5px;
        background-color: white;
        h3 {
            &.tittle-wthree {
                color: #333;
                font-size: 34px;
                margin-bottom: 35px;
            }
            &.text-center {
                text-align: center !important;
            }
        }
        a {
            .avatar {
                display: block;
                margin: 0 auto;
                width: 50px !important;
                border-radius: 10px !important;
            }
            h4 {
                margin: 10px 0;
                font-size: 0.9em;
                color: #555;
                text-align: center;
                font-weight: bold;
            }
            &:hover {
                h4 {
                    color: #999;
                }
                .avatar {
                    box-shadow: 0 5px 15px -5px #333;
                }
            }
        }
        .elip {
            overflow: hidden;
        }
        .swiper {
            padding-top: 10px;
            padding-bottom: 40px;
            .swiper-slide {
                padding: 0 5px;
            }
        }
    }
}
/** 第五屏结束 */
@media screen and (min-width: 576px) {
}
@media screen and (min-width: 768px){
	.testimonials-gd-vj {
        padding: 1.5rem !important;
    }
}
@media screen and (min-width: 992px){
	.testimonials-gd-vj {
        padding: 3rem !important;
    }
}
@media screen and (min-width: 1200px){
}
@media (max-width: 1367px) {

}
@media (max-width: 1024px) {
    #statistics h4 {
        font-size: 30px;
    }
}
@media (max-width: 760px) {
    #statistics h4 {
        font-size: 25px;
    }
}
@media (max-width: 415px) {
    .cover .fp p {
        font-size: 2em;
    }
}
@media (max-width: 376px) {
    .cover .fp p {
        font-size: 1.8em;
    }
}